@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

      body {
        background: #e5f9f9;
        color:#000080;
        max-width: 1200px;
        line-height: normal;
        margin: 5px auto;
        padding: 30px;
        text-align: left;
        vertical-align: baseline;
        
        font-family: 'Playfair Display SC', serif;
      }

      h1 {
        color: #4e1448;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 5px solid #bebebe;
        font-family: 'Arimo', sans-serif;
        text-align: left;
      }
       h2 {
        color: /*#4e1448 */rgba(0,0,255,0.3);
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-family: 'Arimo', sans-serif;
        text-align: left;
        border: 1px solid #bebebe ;
        padding: 10px;
      }
      h4 {
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-decoration-color:#4e1448;
      }
body{ padding:1em; font-family:arial; }
input{ display:none; }
label{ padding:.2em .5em; }
label:hover{ background:#ccc; cursor:pointer; }
input:checked + label{ font-weight:bold; background:#ccc; }

body{ padding:1em; font-family:arial; }
input{ display:none; }
label{ padding:.2em .5em; }
label:hover{ background:#ccc; cursor:pointer; }
input:checked + label{ font-weight:bold; background:#ccc; }

.flex {
    display: flex;
    flex-wrap: wrap;
	
	 width: 315px;     height: 300px;     margin: 20px 0;  padding: 5px;
}
.flex-itm {     background: #2e5b40;    font-size: 2.5rem;     color: #eee;     margin: 5px;     padding: 15px; }
.flex-itm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: stretch;
}

.layer1 {
    float: left; /* Обтекание по правому краю */
    background: #2e5b40; /* Цвет фона */
    border: 15px #bebebe; /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    margin-right: 20px; /* Отступ справа */
    width: 30%; /* Ширина блока */
   }
